// Typography
//
// Headings, body text, lists, and other misc typographic elements.

@import 'units';

h1, h2 {
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 4rem;
  line-height: .8;
}
h2 {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: $gutter;
}

// Links
a {
  text-decoration: none;
  color: inherit;
}

// Body text
p {
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  margin-top: 0;
  line-height: 1.2;
}
