// Units
//
// variables cross-site

// gaps, gutters, etc
$gutter: 30px;
$halfGutter: 15px;
$doubleGutter: $gutter*2;
$tripleGutter: $gutter*3;
$gap: $gutter*6;

// color
$red: #9b1f20;
$white: #ffffff;

// breakpoints
@mixin breakpoint($point) {
  @if $point == medium {
    @media (max-width: 50em) { @content; }
  }
  @else if $point == small {
    @media (max-width: 600px)  { @content; }
  }
}
