<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="wrapper">

      <img class="pop__img" src='{{ site.baseurl }}assets/img/pop1.png'></img>

      <div class="popup__overlay"></div>
      <div class="popup">
        <h2>Enter to win Popcorn Indiana!</h2>
        <input type="email" placeholder="Enter your email"></input>
      </div>

      <header class="masthead">
        <h1 class="masthead__title">
          <a href="{{ site.parentsite }}" target="_blank" title="Home">
            The<br>Red<br>Bag
          </a>
        </h1>
        <div class="masthead__details" id="masthead__details">
          {% for detail in site.conclusion %}
            <p>
              <a href="{{ detail.link }}">
                {{ detail.name }}
              </a>
            </p>
          {% endfor %}
        </div>
        <img class="masthead__img masthead__img--covered" id="masthead__img--covered" src="{{ site.baseurl }}assets/img/redBag_covered.png"></img>
        <img class="masthead__img masthead__img--branded" id="masthead__img--branded" src="{{ site.baseurl }}assets/img/redBag_branded.png"></img>
      </header>

      {{ content }}

      <hr class='divider'></hr>

    </div>
  </body>
</html>
